.about-us {
  margin-bottom: 83px;

  @media (min-width: $desktop-width) {
    max-width: 700px;
    padding: 0;
  }
}

.about-us__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 57px;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    font-size: 43px;
    line-height: 50px;
  }
}

.about-us__item {
  padding-top: 53px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
  }
}
