.about-us__title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-color-900;
}

.about-us__item {
  list-style: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $basic-color-900;
}
