.about-us {
  padding-top: 30px;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 68px;
    padding-bottom: 90px;
  }
}

.about-us__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 57px;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    font-size: 43px;
    line-height: 50px;
  }
}

.about-us__item {
  padding-top: 53px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-black;
  background-repeat: no-repeat;

  &:nth-child(odd) {
    order: -1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--materials {
    background-image: url("../img/icon-materials.svg");
  }

  &--made {
    background-image: url("../img/icon-made.svg");
  }

  &--style {
    background-image: url("../img/icon-style.svg");
  }

  &--support {
    background-image: url("../img/icon-support.svg");
  }

  &--likes {
    background-image: url("../img/icon-likes.svg");
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 22px;

    &:nth-child(odd) {
      order: 0;
    }
  }
}
