.button {
  display: block;
  min-width: 260px;
  text-decoration: none;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $basic-color-800;
  text-align: center;
  border: 2px solid $basic-color-800;
  text-transform: uppercase;
}
