.button {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $color-gray-500;
  text-align: center;
  border: 2px solid $color-gray-500;
  text-transform: uppercase;
}
