.contacts {
  padding-top: 38px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-color-900;
}

.contacts__list {
  margin: 0;
  margin-bottom: 62px;
}

.contacts__subtitle {
  font-size: 14px;
  line-height: 30px;
}

.contacts__description {
  margin: 0;
}

.contacts__map {
  margin-bottom: 41px;
}

.contacts__button {
  margin-bottom: 39px;
}
