.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.contacts__list {
  margin: 0;
  margin-bottom: 62px;
}

.contacts__item {
  display: flex;
}

.contacts__subtitle,
.contacts__description {
  font-size: 14px;
  line-height: 30px;
}

.contacts__subtitle {
  padding-right: 25px;
}

.contacts__description {
  margin: 0;
}

.contacts__map {
  margin-bottom: 41px;
}

.contacts__button {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__subtitle,
  .contacts__description {
    font-size: 17px;
  }

  .contacts__subtitle {
    padding-right: 20px;
  }

  .contacts__map,
  .contacts__map-image {
    width: 768px;
    height: 457px;
  }

  .contacts__map {
    margin: 0 -50px;
  }



  .contacts__button {
    display: block;
    width: 230px;
    margin: 55px auto;
  }
}
