.copyright__link {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.copyright__text {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $color-black;
}

.copyright__logo {
  fill: $color-green-200;

  &:hover {
    fill: $color-green-450;
  }

  &:active {
    opacity: 0.3;
  }
}
