.copyright__link {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  text-decoration: none;

  &:hover {
    .copyright__logo {
      fill: $color-green-450;
    }
  }

  &:active {
    .copyright__logo {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.copyright__text {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 27px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: $color-black;
}

.copyright__logo {
  fill: $color-green-200;
}
