.featured__title {
  margin: 0;
  margin-top: 31px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.featured__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-green-200;
  text-transform: uppercase;
}

.featured__text {
  margin: 0;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.featured__image-wrapper {
  margin-bottom: 25px;
}

.featured__price {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.featured__button {
  margin-bottom: 73px;
  padding-right: 70px;
  padding-left: 70px;
}
