.featured__wrapper {
  margin-top: 31px;
}

.featured__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.featured__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-green-200;
  text-transform: uppercase;
}

.featured__text {
  margin: 0;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.featured__image-wrapper {
  margin-bottom: 25px;
}

.featured__price {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.featured__button {
  margin-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .featured__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 37px;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
  }

  .featured__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 95px 115px 110px;
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    grid-template-areas:
      "paragraph image"
      "table image"
      "button image";
    margin-bottom: 100px;
  }

  .featured__text {
    grid-area: paragraph;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .featured__table {
    grid-area: table;
  }

  .featured__buy {
    grid-area: button;
  }

  .featured__image-wrapper {
    grid-area: image;
    margin: 0;
  }

  .featured__image {
    width: 334px;
    height: 404px;
  }

  .featured__price {
    font-size: 20px;
    line-height: 24px;
  }
}
