.field {
  display: block;

  &--textarea {
    .field__input {
      resize: none;
    }
  }
}

.field__label {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-black;
}

.field__input {
  padding: 0;
  font-size: 17px;
  line-height: 18px;

  &--data {
    border: none;
  }
}
