.field {
  display: block;

  &--phone {
    margin-bottom: 50px;
  }

  &--email {
    padding-top: 20px;
  }

  &--textarea {
    .field__input {
      resize: none;
    }
  }
}

.field__label {
  display: block;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $basic-color-900;
}

.field__input {
  padding: 0;
  font-size: 17px;
  line-height: 18px;

  &--data {
    border: none;
  }
}
