.field {
  display: block;

  &--textarea {
    .field__input {
      resize: none;
    }
  }
}

.field__label {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-black;
}

.field__input {
  font-size: 17px;
  line-height: 18px;
  border: none;

  &--data {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &--tel {
    padding-top: 14px;
    padding-bottom: 20px;
  }
}
