.intro {
  padding-top: 81px;
  padding-bottom: 67px;
  background-color: $color-gray-50;

  &--catalog {
    margin-bottom: 30px;
  }

  &--form {
    margin-bottom: 17px;
  }
}

.intro__title {
  margin: 0;
  font-size: 27px;
}
