.main-navigation {
  &--closed {
    display: none;
  }
}

.page-header__burger {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
