.main-navigation {
  &--closed {
    display: none;
  }
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .page-header__burger {
    display: none;
  }

  .main-navigation {
    &--closed {
      display: block;
    }
  }
}
