.modal-window {
  padding-top: 28px;
  box-shadow: 0 5px 10px rgba($color-black, 0.25);
}

.modal-window__title {
  margin-top: 0;
  margin-bottom: 14px;
  padding-left: 55px;
  padding-right: 55px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
  text-transform: uppercase;
}

.modal-window__select {
  display: block;
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.modal-window__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}

.modal-window__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.modal-window__button {
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-white;
  background-color: $color-green-200;
  border: none;
}
