.page-header__top {
  border-bottom: 1px solid $color-gray-100;
}

.page-header__logo {
  display: block;
  margin: 22px 0;
}

.page-header__burger {
  position: absolute;
  right: 31px;
  top: 35px;
}

.page-header__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: $color-gray-500;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    border: none;
  }

  .page-header__delivery {
    display: block;
  }
}
