.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.page-header__top {
  border-bottom: 1px solid $color-gray-100;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    width: 50%;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 60%;
    justify-content: flex-end;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  margin: 22px 0;
}

.page-header__burger {
  position: absolute;
  right: 31px;
  top: 35px;
}
