.product-list__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    column-gap: 51px;
  }
}

.product-list__item {
  margin-bottom: 30px;
}
