.product-card {
  border: 1px solid $color-gray-100;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 462px 1fr;
    height: 100%;
  }
}

.product-card__img-link {
  display: block;

  @media (min-width: $desktop-width) {
    height: min-content;
  }
}

.product-card__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
    margin: 0;
  }
}

.product-cart__description {
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
    padding-right: 26px;
  }
}

.product-card__title-link {
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

.product-card__size {
  display: block;
  margin-bottom: 17px;
  font-size: 13px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.product-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 26px;
  border-top: 1px solid $color-gray-100;
}

.product-card__price {
  display: block;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $color-black;
}

.product-card__basket {
  display: block;
}

.product-card__svg {
  fill: rgba($color-black, 0.2);

  &:hover {
    fill: $color-green-200;
  }

  &:active {
    opacity: 0.3;
  }
}
