.promo {
  height: 506px;
  background-image: url("../img/hero-mobile.png");
  background-color: $basic-color-800;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $basic-color-900;
}

.promo__link {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $primary-color-50;

  &--accesories {
    background-color: $additional-color-200;
  }

  &--toys {
    background-color: $additional-color-300;
  }
}
