.radio-button__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $color-black;
}

.radio-button__input {
  display: none;
}
