.reviews {
  @media (min-width: $tablet-width) {
    padding-top: 82px;
    background-image: url("../img/carpet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-left: 220px;
    background-position: left 50px center;
  }
}

.reviews__container {
  @media (min-width: $desktop-width) {
    padding-left: 180px;
    padding-right: 50px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    order: -2;
    margin-bottom: 35px;
    font-size: 43px;
    line-height: 50px;
  }
}

.reviews__item {
  display: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  &--active {
    display: block;
  }
}

.reviews__quote {
  margin: 0;
}

.reviews__quote-text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__quote-author {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 131px;
  }
}

.reviews__author {
  display: block;
  font-style: normal;
  font-size: 17px;

  &--name {
    font-weight: 700;
    line-height: 24px;
    color: $color-black;
  }

  &--instagram {
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding-right: 384px;
    font-size: 18px;
  }
}

.reviews__toggle-buttons {
  display: flex;
  border: solid 1px $color-gray-100;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.reviews__toggle {
  width: 50%;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: inherit;

  &--prev,
  &--next {
    background-position: center;
    background-repeat: no-repeat;
  }

  &--prev {
    background-image: url("../img/huge-arrow-left.svg.svg");
  }

  &--next {
    background-image: url("../img/huge-arrow-right.svg.svg");
  }
}

.reviews__button {
  margin-bottom: 89px;

  @media (min-width: $tablet-width) {
    order: -1;
    align-self: flex-start;
    width: 175px;
    margin: 0;
  }
}
