.shopping-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.shopping-list__item {
  @media (min-width: $desktop-width) {
    min-width: 185px;

    &:nth-child(2) {
      .shopping-list__link {
        padding-left: 35px;
      }
    }
  }
}

.shopping-list__link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $color-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: $desktop-width) {
    display: block;
    padding-right: 25px;
  }
}
