.shopping-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// .shopping-list__item {
//   padding-top: 26px;
//   padding-bottom: 24px;
// }

.shopping-list__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;


  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.shopping-list__text {
  display: inline-block;
  font-size: 15px;
}
