.shopping-list {
  display: none;
}

.shopping-list__item {
  padding-top: 26px;
  padding-bottom: 24px;
}

.shopping-list__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-color-900;
}
