.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.site-list__item {
  border-bottom: 1px solid $color-gray-100;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 26px;
  padding-right: 25px;
  padding-left: 76px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 32px;
    padding-right: 40px;
    font-size: 17px;
    line-height: 24px;
    z-index: -1;
  }
}
