.size-list {
  display: flex;
  justify-content: space-between;
  column-gap: 7px;
  margin-top: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
}

.size-list__item {
  width: 82px;
  height: 52px;

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.size-list__radio {
  position: relative;
  display: block;
}

.size-list__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.size-list__label {
  display: block;
  text-align: center;
  padding: 18px 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 52px;
    border: 2px solid rgba($color-gray-500, 0.1);
  }

  &:hover {
    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    &::after {
      border: 2px solid $color-green-400;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 18px 40px;

    &::after {
      width: 112px;
    }
  }
}

.ize-list__input:focus + .size-list__label {
  outline: 2px solid $color-black;

  &::after {
    border-color: $color-green-400;
  }
}

.size-list__input:checked + .size-list__label::after {
  border: 2px solid $color-green-200;
}
