.social {
  padding-bottom: 27px;
  border-bottom: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    width: 22px;
    height: 21px;
    background-image: url("../img/instagram.svg");
  }

  &--facebook {
    width: 15px;
    height: 28px;
    background-image: url("../img/facebook.svg");
  }

  &--twitter {
    width: 23px;
    height: 20px;
    background-image: url("../img/twitter.svg");
  }
}
