.social {
  padding-bottom: 27px;
  border-bottom: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
}

.social__icon {
  fill: $color-black;

  &:hover {
    fill: $color-green-450;
  }

  &:active {
    opacity: 0.3;
  }
}
