.table-features {
  width: 100%;
  border-collapse: collapse;
}

.table-features__row {
  border-bottom: 1px solid $color-gray-100;
}

.table-features__cell {
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;

  &--name {
    padding-right: 25px;
  }

  &--value {
    padding-right: 20px;
  }
}
