.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list__item {
  border-bottom: 1px solid $color-gray-100;

  @media (min-width: $tablet-width) {
    text-align: end;
    border: none;
    padding: 0;
  }
}

.user-list__link {
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    &--search {
      text-align: center;

      .user-list__text {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }
  }
}

.user-list__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

