.user-data__intro {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.user-data__fieldset {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;

  &--type,
  &--color {
    padding-bottom: 30px;

    .user-data__legend {
      margin-bottom: 25px;
    }
  }

  &--user {
    padding-bottom: 34px;

    .user-data__legend {
      margin-bottom: 29px;
    }
  }

  &--contacts {
    padding-bottom: 34px;
  }

  &--message {
    .user-data__legend {
      margin-bottom: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 50px;
    padding-top: 50px;

    &--contacts,
    &--color {
      background-color: $color-gray-50;
    }
  }


  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.user-data__legend {
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-green-200;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    float: left;
    grid-column: 1/2;
    margin: 0;
    padding-top: 16px;
  }
}

.user-data__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    &--color {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.user-data__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-data__footer {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 109px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 230px 470px 1fr;
    column-gap: 0;
  }
}

.user-data__footnote {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
    align-self: center;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.user-data__button {
  background-color: inherit;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}
