.video-product__card {
  border: 1px solid $color-gray-100;
}

.video-product__title {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 21px;
  padding-left: 91px;
  padding-right: 13px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

.video-product__bottom {
  padding-top: 35px;
  padding-left: 34px;
  padding-right: 25px;
  padding-bottom: 33px;
}

.video-product__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
}
