.video-product__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

.video-product__img {
  margin-bottom: 35px;
}

.video-product__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
}

.video-product__button {
  margin-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
}
