html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  color: $basic-color-800;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
