$main-font: "Open Sans", "Arial", sans-serif;

$basic-color-900: #000000;
$basic-color-700: #666666;
$basic-color-800: #444444;
$basic-color-400: #b3b3b3;

$primary-color-50: #ffffff;
$primary-color-200: #f1f1f1;
$primary-color-300: #ececec;
$primary-color-400: #e5e5e5;

$additional-color-100: #d0f1eb;
$additional-color-200: #63d1bb;
$additional-color-300: #56c3b2;
$additional-color-350: #59d5bc;
$additional-color-400: #62d1ba;
$additional-color-450: #46c1ae;
