$main-font: "Open Sans", "Arial", sans-serif;

$color-white: #ffffff;
$color-gray-200: #f1f1f1;
$color-gray-300: #ececec;
$color-gray-400: #e5e5e5;
$color-gray-600: #b3b3b3;
$color-gray-700: #666666;
$color-gray-800: #444444;
$color-black: #000000;

$color-green-100: #d0f1eb;
$color-green-200: #63d1bb;
$color-green-300: #56c3b2;
$color-green-350: #59d5bc;
$color-green-400: #62d1ba;
$color-green-450: #46c1ae;
