$main-font: "Open Sans", "Arial", sans-serif;

$basic-color-900: #000000;
$basic-color-800: #444444;

$basic-color-50: #ffffff;
$basic-color-200: #F1F1F1;
$basic-color-300: #ECECEC;
$basic-color-400: #E5E5E5;

$primary-color-200:#63D1BB;
$primary-color-300:#56C3B2;
$primary-color-300:#62D1BA;
